<h1>Thermal-Nanny 0.3</h1>
<p>

This is the Thermal-Nanny home page. Thermal-Nanny is a really great online service that is super <i>cool</i> - get it?

</P>
<p>Find me in app/views/home/index.html.erb</p>
